/* Core flex setup */

html, body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar, .footer {
  min-height: 54px;
}

.content {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* Chat area */

.content .container {
  display: flex;
  flex-direction: column;
}

.content .container .chat-bubble {
  border-radius: 15px;
  margin-top: .6em;
  max-width: 66.6666666667%;
  padding: .6em .8em;
}

.content .container .chat-bubble:last-child {
  margin-bottom: .6em;
}

.self {
  align-self: flex-end;
  background: #6bc2ff;
  color: white;
}

.watson {
  align-self: flex-start;
  background: #f7f7f7;
}

/* Input area */

.footer {
  padding: .8em 0;
}

.footer .container form {
  display: flex;
  flex-direction: column;
}

.footer .container form input {
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  flex: 1;
  padding: .6em .8em;
}
